@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 20px;

}

header h1{
    color: brown;
}


header li{
    display: inline-block;
    list-style: none;
}