@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    padding: 20px;
    align-items: center;
}

header h1{
    color: #000000;
}


header li{
    display: inline-block;
    list-style: none;
}

header a{
    text-decoration: none;
    color: #000000;
    margin: 10px;
    cursor: pointer;
}

header a:hover{
    text-decoration: none;
    color: #505050;
    margin: 10px;
    cursor: pointer;
}


#divisao{
    margin: auto;
    padding: 0;
    max-width: 1600px;
    min-height: 1px;
    background-color: #c90036;
}

#tela-inicial{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(img/background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
}

#texto-inicial{
    z-index: 1;
    width: 50%;
    
}

#texto-inicial h1{
    font-size: 3em;
    color: #FF1654;
}

#texto-inicial p{
    width: 80%;
}

#img-inicial img{
    z-index: 0;
    width: 100%;
}

/*titulos*/
.titulos{
    margin: 15% 0 5% 0;
    text-align: center;
}


#card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}


.cards{
    width: 20%;
    background-color: #F3F3F3;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
}

.cards > *{
    text-align: center;
}

.cards > h2{
    color: #FF1654;
}


#titulo-ideia{

}

#ideia{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#ideia > p{
    width: 30%;
}


#card-diferenciais{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-diferenciais{
    width: 20%;
    background-color: #D9D9D9;
    margin-bottom: 2%;
    border-radius: 10px;
    padding: 20px;
}

.cards-diferenciais > *{
    text-align: center;
}

.cards-diferenciais > h2{
    color: #FF1654;
}

#plano{
    display: flex;
    align-items: center;
    justify-content: center;
}

.planos{
    display: flex;
    justify-content: center;
    width: 26%;
    height: 30vh;
    background-image: url(img/blur.png);
    filter: blur(40%);
    border: 1px solid black;
    margin-left: 15px;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
}


.planos:first-child{
    margin-left: 0;
}


@media (max-width: 950px) {
    #plano{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    
    .planos{
        display: flex;
        justify-content: center;
        width: 40%;
        height: 30vh;
        border: 1px solid black;
        border-radius: 10px;
        margin: 20px 0 0 0;
        padding: 20px;
        overflow: hidden;
    }


}